<div class="page-content p-d-flex p-jc-center p-ai-center">
    <p-card>
        <form class="p-d-flex p-mx-3 p-flex-column" [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="p-field">
                <p>Email</p>
                <span class="p-input-icon-right">
                    <input type="email" formControlName="email" pInputText required>
                </span>
            </div>

            <div class="p-field">
                <p>Password</p>
                <span class="p-input-icon-right">
                    <i [class]="passwordIconClass" (click)="toggleShowPassword()"></i>
                    <input [type]="passwordInputType" formControlName="password" pInputText required>
                </span>
            </div>

            <div class="p-mt-3 p-d-flex p-jc-center p-ai-center">
                <button [loading]="isLoading" pButton pRipple type="submit" label="Enter" class="p-button-lg"></button>
            </div>
        </form>
    </p-card>
</div>